<aside class="col-12 col-md-3" id="left-sidebar">
	[%IF [@page_type@] eq 'category' and [@config:show_filters@]%]
		<div class="card mb-2">
			<div class="card-header border-bottom">
				<h3 class="h4 mb-0">
					<a class="text-dark d-block" role="button" data-toggle="collapse" aria-expanded="false" href="#filters" aria-controls="#filters">Filter Products</a>
				</h3>
			</div>
			<div id="filters" class="collapse">
				<div class="list-group list-group-flush" role="group">
					[%product_filter type:'variations' autohide:'0' sortoption:'sortorder'%]
						[%param *header%]
							<div class="list-group-item"><h3 class="h4 mb-0">Filter By [@filter_name@]</h3></div>
						[%/param%]
						[%param *body%]
							[%if [@selected@]%]
								<a class="filter-remove filter text-dark list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="[@remove_single_url@]" rel="nofollow">
									<span><i class="fa fa-check-square"></i> [@name@]</span>
									<span class="badge badge-secondary badge-pill">[@total@]</span>
								</a>
							[%else%]
								<a class="filter text-dark list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="[@url@]" aria-label="Filter [@filter_name@] to [@name@]">
									<span><i class="far fa-square"></i> [@name@]</span>
									<span class="badge badge-secondary badge-pill">[@total@]</span>
								</a>
							[%/if%]
						[%/param%]
					[%/product_filter%]
					[%product_filter type:'price' limit:'6'%]
						[%param header%]
							<div class="list-group-item d-l-none d-xl-none"><h3 class="h4 mb-0">Filter By Price Range</h3></div>
						[%/param%]
						[%param *body%]
							[%if [@selected@]%]
								<a class="filter-remove list-group-item d-l-none d-xl-none d-flex justify-content-between align-items-center" href="[@remove_url@]" class="list-group-item" rel="nofollow">
									<span><i class="fa fa-check-square"></i> [@name@]</span>
									<span class="badge badge-secondary badge-pill">[@total@]</span>
								</a>
							[%else%]
								[%if [@min@] == 0 AND [@max@] > 0%]
									<a class="text-dark filter list-group-item d-l-none d-xl-none" href="[@url@]"><i class="far fa-square"></i> [%format type:'currency' dp:'0'%][@max@][%/format%] or below</a>
								[%elseif [@min@] > 0 AND [@max@] > 0%]
									<a class="text-dark filter list-group-item d-l-none d-xl-none" href="[@url@]"><i class="far fa-square"></i> [%format type:'currency' dp:'0'%][@min@][%/format%] to [%format type:'currency' dp:'0'%][@max@][%/format%]</a>
								[%elseif [@max@] == 0%]
									<a class="text-dark filter list-group-item d-l-none d-xl-none" href="[@url@]"><i class="far fa-square"></i> [%format type:'currency' dp:'0'%][@min@][%/format%] or above</a>
								[%/if%]
							[%/if%]
						[%/param%]
					[%/product_filter%]
					[%product_filter type:'price' limit:'1'%]
						[%param header%]
							<div class="list-group-item hidden-sm d-none d-sm-block"><h3 class="h4 mb-0">Filter By Price Range</h3></div>
						[%/param%]
						[%param *body%]
							[%SITE_VALUE id:'footer_javascript'%]
								<script type="text/javascript">
									$(function() {
									var vals = ['[@min@]','[@max@]'];
									for(var i=0; i<vals.length; i++) {vals[i]=parseInt(vals[i]); }
										$( "#price-range" ).slider({
											range: true,
											min: vals[0],
											max: vals[1],
											values: vals,
											slide: function( event, ui ) {
												$( "#price-range-text" ).html( '[@config:currency_symbol@]'+ui.values[0]+' to [@config:currency_symbol@]'+ui.values[1] );
												$( '#pricesearch input[name="pr"]' ).val( ui.values[0]+'-'+ui.values[1] );
											},
											create: function( event, ui ) {
												$( "#price-range-text" ).html( '[@config:currency_symbol@]'+vals[0]+' to [@config:currency_symbol@]'+vals[1] );
												$( '#pricesearch input[name="pr"]' ).val( vals[0]+'-'+vals[1] );
											}
										});
									});
								</script>
							[%/SITE_VALUE%]
							<div class="list-group-item hidden-sm d-none d-sm-block">
								<p id="price-range"></p><p id="price-range-text" class="price_range"></p>
								<form id="pricesearch" method="get" action="[@config:current_url@]">
									<input type="hidden" name="rf" value="[%FILTER_CODE id:'price'%][%/FILTER_CODE%]">
									<input  name="pr" type="hidden" value="">
									<input type="submit" value="Filter By Price" class="btn btn-outline-secondary btn-sm" />
									<a href="[@remove_url@]" class="btn btn-outline-secondary btn-sm" rel="nofollow"> Clear</a>
								</form>
							</div>
						[%/param%]
					[%/product_filter%]
					[%product_filter type:'brand' sortoption:'sortorder' limit:'50' autohide:'0'%]
						[%param header%]
							<div class="list-group-item"><h3 class="h4 mb-0">Filter By Brand</h3></div>
						[%/param%]
						[%param *body%]
							[%if [@selected@]%]
								<a class="text-dark filter-remove list-group-item d-flex justify-content-between align-items-center" href="[@remove_url@]" rel="nofollow">
									<span><i class="fa fa-check-square"></i> [@brand@]</span>
									<span class="badge badge-secondary badge-pill">[@total@]</span>
								</a>
							[%else%]
								<a class="text-dark filter list-group-item d-flex justify-content-between align-items-center" href="[@url@]">
									<span><i class="far fa-square"></i> [@brand@]</span>
									<span class="badge badge-secondary badge-pill">[@total@]</span>
								</a>
							[%/if%]
						[%/param%]
						[%param more%]
							<li class="lv1"><a class="list-group-item" href="[%URL type:'page' id:'brands'%][%/URL%]">Show all brands...</a></li>
						[%/param%]
					[%/product_filter%]
				</div>
			</div>
		</div>
	[%/IF%]
	[%CONFIG id:'phistory_limit' if:'ne' value:'0'%]
		[%PRODUCT_HISTORY limit:'[@config:phistory_limit@]' template:'box'%]
			[%param header%]
				<section class="card d-none d-md-block my-2" role="contentinfo" aria-label="Browsing history">
					<div class="card-header"><h3 class="h4 mb-0">Browsing History</h3></div>
					<ul class="nav list-group">
			[%/param%]
			[%param footer%]
					</ul>
				</section>
			[%/param%]
		[%/PRODUCT_HISTORY%]
	[%/CONFIG%]
	[%MENU id:'web_information'%]
		[%param header%]
			<div class="card d-none d-md-block my-2">
				<div class="card-header"><h3 class="h4 mb-0">Information</h3></div>
				<div class="list-group list-group-flush" role="navigation" aria-label="Information menu">
		[%/param%]
		[%param *level_1%]
			<div class="position-relative border-bottom [%if [@next_level@]%] dropdown dropdown-hover[%/if%]">
				<a class="text-dark list-group-item list-group-item-action" href="[@url@]">[@name@]</a>
				[%if [@next_level@]%]
					<ul class="dropdown-menu dropdown-menu-horizontal">[@next_level@]</ul>
				[%/if%]
			</div>
		[%/param%]
		[%param *level_2%]
			<li class="[%if [@next_level@]%] dropdown dropdown-hover[%/if%]">
				<a class="dropdown-item" href="[@url@]">[@name@]</a>
				[%if [@next_level@]%]
					<ul class="dropdown-menu dropdown-menu-horizontal">[@next_level@]</ul>
				[%/if%]
			</li>
		[%/param%]
		[%param *level_3%]
			<li><a class="dropdown-item" href="[@url@]">[@name@]</a></li>
		[%/param%]
		[%param footer%]
			</div>
		</div>
		[%/param%]
	[%/MENU%]
</aside>
<div class="col-12 col-md-9">
