[%CACHE type:'gallery' id:'[@inventory_id@]'%]
<article class="col-6 col-sm-6 col-m-8 col-lg-4 col-xl-3 pb-2" role="article" aria-label="Product thumbnail">
	<div class="card thumbnail card-body" itemscope itemtype="http://schema.org/Product">
		<meta itemprop="brand" content="[@brand@]"/>
		<meta itemprop="mpn" content="[@sku@]"/>
		<a href="[@URL@]" class="thumbnail-image pb-2">
			<img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" itemprop="image" class="product-image img-fluid" alt="[@model@]" rel="itmimg[@SKU@]">
		</a>
		<p class="card-title h4" itemprop="name"><a href="[@URL@]">[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/format%]</a></p>
		<H5>[@subtitle@]</H5>
		<p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" aria-label="[@model@] price">
			[%if [@inpromo@]%]
				Now&nbsp;[%if [@has_child@]%]from&nbsp;[%/if%]
				<meta itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%END format%]"/>
				<span itemprop="price" content="[@promo_price@]">[%format type:'currency'%][@promo_price@][%/format%]</span>
			[%else%]
				[%if [@has_child@]%]From&nbsp;[%/if%]
				<span itemprop="price" content="[@store_price@]">[%format type:'currency'%][@store_price@][%/format%]</span>
			[%/if%]
			<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
		</p>
		[%if [@form:disable_scripts@] ne 'true'%][%tracking_code type:'Thumbnails' /%][%/if%]


		<!-- Setting variables that are used below for whether a date due to be in stock has passed or not-->
		[%set [@today@] %][%format type:'date' format:'#U'%]now[%/format%][%/set%]

		[%set [@instockdate@] %][%if [@misc11@] eq '' OR [@misc11@] eq '0000-00-00'%]0[%else%][%format type:'date' format:'#U'%][@misc11@][%/format%][%/if%][%/set%]

		<!-- Purchase Logic -->
		<form class="form-inline buying-options">
			<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
			<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
			<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
			<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="[%if [@min_qty@] > 0%][@min_qty@][%else%]1[%/if%]" class="input-tiny">			
			[%if [@store_quantity@] > 0%]
				[%if [@extra@] or [@has_child@] or [@editable_bundle@] %]
					<a href="[@URL@]" title="View [@model@] Buying Options" class="btn btn-primary btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Options</a>
				[%else%]
					<button type="button" title="Add [@model@] to Cart" class="addtocart btn-primary btn btn-block btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
				[%/if%]
			[%elseif [@preorder_quantity@] > 0 %]
				<a href="[@URL@]" title="Pre-Order [@model@] Now!" class="btn btn-warning btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order Now</a>
			[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
				[%if [@misc4@] eq 'y' %]
					<a class="notify_popup btn btn-outline-secondary btn-block btn-loads" href="[@url@]" title="[@model@] no longer stocked" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">No Longer Stocked</a>
				[%else%]
					[%if [@misc10@] eq 'n' AND [@instockdate@] ne '0' %]
						[%if [@today@] > [@instockdate@] %]
							[%if [@extra@] or [@has_child@] or [@editable_bundle@]%]
								<a href="[@URL@]" title="View [@model@] Buying Options" class="btn btn-primary btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Options</a>
							[%else%]
								<button type="button" title="Add [@model@] to Cart" class="addtocart btn btn-primary btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@current_sku@]"><i class="fa fa-shopping-cart icon-white"></i> Add to Cart</button>
							[%/if%]
						[%else%]
							<button type="button" title="Add to Cart" class="addtocart btn btn-warning btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@current_sku@]"><i class="fa fa-clock-o icon-white"></i> Backorder</button>
						[%/if%]
					[%elseif [@misc10@] eq 'n' AND [@instockdate@] eq '0'  %]
						<button type="button" title="Add to Cart" class="addtocart btn btn-warning btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@current_sku@]"><i class="fa fa-clock-o icon-white"></i> Backorder</button>
					[%else%]
						[%if [@extra@] or [@has_child@] or [@editable_bundle@]%]
							<a href="[@URL@]" title="View [@model@] Buying Options" class="btn btn-primary btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Options</a>
						[%else%]
							<button type="button" title="Add [@model@] to Cart" class="addtocart btn btn-primary btn-block btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@current_sku@]"><i class="fa fa-shopping-cart icon-white"></i> Add to Cart</button>
						[%/if%]
					[%/if%]
				[%/if%]
			[%else%]
				<a class="notify_popup btn btn-outline-secondary btn-block btn-loads" href="[@url@]" title="Notify Me When [@model@] Is Back In Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out Of Stock</a>
			[%/if%]
		</form>
		<!-- /Purchase Logic -->
		<div class="savings-container">
			[%if [@inpromo@]%]
				<span class="badge badge-danger">On Sale</span>
			[%/if%]
			[%if [@save@] > 0 AND ![@has_child@] %]
				<span class="badge badge-warning">
				[%format type:'percent'%][@save@][%/format%] OFF</span>
			[%/if%]
			[%if [@save@] > 0%]
				<span class="badge badge-secondary">RRP [%format type:'currency'%][@retail@][%/format%]</span>
			[%/if%]
		</div>
	</div>
</article>
[%/CACHE%]
