[%load_template file:"products/includes/product_scripts.template.html"/%]
[%cache type:'display' id:'[@inventory_id@]'%]
	<div class="col-12">
		[%breadcrumb%]
			[%param *header%]
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
						<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
							<meta itemprop="position" content="0" />
						</li>
			[%/param%]
			[%param *body%]
						<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
							<meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
						</li>
			[%/param%]
			[%param *footer%]
					</ol>
				</nav>
			[%/param%]
		[%/breadcrumb%]
		<div class="row" itemscope itemtype="http://schema.org/Product">
			<section class="col-12 col-lg-5" role="contentinfo" aria-label="Product images">
				[%load_ajax_template id:'_images' type:'item' template:'images' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
			</section>
			<section class="col-12 col-lg-7" role="contentinfo" aria-label="Products information">
				[%load_ajax_template id:'_header' type:'item' template:'header' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
				[%if [@user: group_id@] == 6 %]
					[%load_ajax_template id:'_staff_info' type:'item' template:'staff_info' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
				[%/if%]
				<!-- child products -->
				[%load_template file:"products/includes/child_products.template.html"/%]
				[%if [@has_variation@] || ![@has_child@] AND ![@has_components@]%]
					<!-- addtocart functionality -->
					[%load_ajax_template id:'_buying_options' type:'item' template:'buying_options' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
          		[%if [@service_only@] == true%]
				[%else%]
				  	<!-- show the shipping calculator if not a service item -->
  					[%load_ajax_template id:'_buying_options2' type:'item' template:'buying_options2' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
  				[%/if%]
				[%/if%]
        <!-- AKR adding -->
  			[%crosssell id:'[@SKU@]' limit:'[@config:upsell_limit@]' template:'' show_all:'1'%]
  				[%param header%]
  				<hr />
  				<h3>You will also need</h3>
  				<br />
  				<div class="row custom-cross-panel">
  				[%/param%]
  				[%param footer%]
  				</div>
  				[%/param%]
  			[%/crosssell%]
  			<!-- end AKR adding -->
				[%if [@has_components@]%]
					<!-- kit components -->
					[%load_template file:"products/includes/components.template.html"/%]
				[%/if%]
			</section>
		</div>
		<div class="row mt-2">
				[%discount_products id:'[@SKU@]' template:'' show_all:'1' limit:'100'%]
					[%param header%]
						<div class="col-12">
						<div class="alert alert-success">
							<h3 class="h2">BONUS ITEMS! <small>Buy [@name@] Today &amp; Receive These For FREE!</small></h3>
								<div class="row products-row">
						[%/param%]
						[%param *body%]
								<div class="col-8 col-sm-6 col-md-3">
									<div class="card thumbnail card-body">
											<a href="[%url type:'item ' id:'[@SKU@]'/%]" class="thumbnail-image pb-2"><img src="[@thumb@]" class="product-image img-fluid" alt="[@name@]"></a>
											<p class="card-title h4"><a href="[%URL type:'item' id:'[@SKU@]'/%]">[%format type:'text' maxlength:'150' rmhtml:'1'%][@name@][%/FORMAT%]</a></p>
											<div class="text-success"><strong>FREE</strong> With This Item!</div>
									</div>
								</div>
						[%/param%]
						[%param footer%]
							</div>
						</div>
						</div>
					[%/param%]
				[%/discount_products%]
				[%free_gifts id:'[@SKU@]'%]
					[%param *header%]
						<div class="col-12">
						<div class="alert alert-success">
							<h3 class="h2">FREEBIES! <small>Buy [@name@] Today &amp; Choose From One Of These FREE Gifts!</small></h3>
								<div class="row products-row">
					[%/param%]
					[%param *body%]
							<div class="col-8 col-sm-6 col-md-3">
								<div class="card thumbnail card-body">
									<a href="[%url type:'item ' id:'[@SKU@]'/%]" class="thumbnail-image pb-2"><img src="[@thumb@]" class="product-image img-fluid" alt="[@name@]"></a>
										<p class="card-title h4"><a href="[%URL type:'item' id:'[@SKU@]'/%]">[%format type:'text' maxlength:'150' rmhtml:'1'%][@name@][%/FORMAT%]</a></p>
										<div class="text-success"><strong>FREE</strong> With This Item!</div>
								</div>
							</div>
					[%/param%]
					[%param *footer%]
							</div>
						</div>
						</div>
					[%/param%]
				[%/free_gifts%]
				<div class="col-12">
					[%load_template file:"products/includes/product_information.template.html"/%]
					[%if [@form:disable_scripts@] ne 'true'%][%tracking_code type:'ProductDescription' /%][%/if%]
				</div>
				<div class="col-12">
					[%upsell_products id:'[@SKU@]' limit:'[@config:upsell_limit@]' template:'' show_all:'1'%]
						[%param header%]
						<hr aria-hidden="true"/>
						<h3 class="h2">We Also Recommend</h3>
						<div class="row products-row">
						[%/param%]
						[%param footer%]
						</div>
						[%/param%]
					[%/upsell_products%]
					[%crosssell id:'[@SKU@]' limit:'[@config:upsell_limit@]' template:'' show_all:'1'%]
						[%param header%]
						<hr aria-hidden="true"/>
						<h3 class="h2">You May Also Like</h3>
						<div class="row products-row">
						[%/param%]
						[%param footer%]
						</div>
						[%/param%]
					[%/crosssell%]
					[%related_products id:'[@SKU@]' limit:'[@config:upsell_limit@]' template:'' show_all:'1'%]
						[%param header%]
						<hr aria-hidden="true"/>
						<h3 class="h2">Others Also Bought</h3>
						<div class="row products-row">
						[%/param%]
						[%param footer%]
						</div>
						[%/param%]
					[%/related_products%]
					[%thumb_list type:'products' sortby:'random' filter_category:'[@content_id@]' template:'' filter_exsku1:'[@sku@]' limit:'[@config:upsell_limit@]'%]
						[%param *header%]
						<hr aria-hidden="true"/>
						<h3 class="h2">More From This Category</h3>
						<div class="row products-row">
						[%/param%][%param footer%]
						</div>
						[%/param%]
					[%/thumb_list%]
				[%/CACHE%]
				[%if [@config:phistory_limit@]%]
					[%product_history limit:'[@config:phistory_limit@]' template:''%]
						[%param header%]
						<hr aria-hidden="true"/>
						<h3 class="h2">Your Browsing History</h3>
						<div class="row products-row">
						[%/param%]
						[%param footer%]
						</div>
						[%/param%]
					[%/product_history%]
				[%/if%]
			</div><!--/.col-12-->
		</div><!--/.row-->
	</div><!--/.col-12-->
</div><!--/.row-->
