</div>
</div>
<footer class="wrapper-footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<hr aria-hidden="true" />
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-8">
				<nav class="row" aria-label="Footer menu">
					[%menu id:'web_footer'%]
					[%param *level_1%]
					<div class="col-12 col-md-4 text-md-left">
						<ul class="nav flex-column">
							<li class="nav-item">
								<h4 class="nav-link py-0">[@name@]</h4>
							</li>
							[@next_level@]
						</ul>
					</div>
					[%/param%]
					[%param *level_2%]
					<li class="nav-item"><a href="[@url@]" class="nav-link">[@name@]</a></li>
					[%/param%]
					[%/menu%]
				</nav>
			</div>
			<div class="col-12 col-md-4 text-md-left">
				<h4>Stay In Touch</h4>
				[%if [@config:show_newsletter_subscribe@]%]
				<p>Subscribe to our newsletter:</p>
				<!-- Begin Mailchimp Signup Form -->
				<div id="mc_embed_signup" class="input-group">
					<form
						action="https://jetblackespresso.us4.list-manage.com/subscribe/post?u=acb5a8e448b5262da68cff2e0&amp;id=d7e6fd2a2a"
						method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
						target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<div class="input-group input-group-footer">
								<label for="mce-EMAIL" style="flex: 1 0 0;">Email Address <span
										class="asterisk">*</span></label>
								<input type="email" value="" name="EMAIL" class="required email form-control"
									id="mce-EMAIL">
							</div>
							<div class="input-group input-group-footer">
								<label for="mce-FNAME" style="flex: 1 0 0;">First Name </label>
								<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
							</div>
							<div id="mce-responses">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
									name="b_acb5a8e448b5262da68cff2e0_d7e6fd2a2a" tabindex="-1" value=""></div>
							<div>
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
									class="btn btn-outline-secondary" style="width: 100%;">
							</div>
						</div>
					</form>
				</div>
				<script type='text/javascript'
					src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
				<script
					type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
				<!--End mc_embed_signup-->
				[%/if%]
				<ul class="nav list-social justify-content-center justify-content-md-start pt-2" itemscope
					itemtype="http://schema.org/Organization" role="contentinfo" aria-label="Social media">
					<meta itemprop="url" content="[@config:home_url@]" />
					<meta itemprop="logo" content="[@config:home_url@][@config:imageurl@]/website_logo.png" />
					<meta itemprop="name" content="[@config:company_name@]" />
					<li class="nav-item px-1"><a href="[%url type:'page' id:'contact_us'/%]" target="_blank"
							title="Email us" rel="noopener" aria-label="Email us"><i class="fa fa-envelope"
								aria-hidden="true"></i></a></li>
					[%if [@config:facebook_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:facebook_account_id@]" target="_blank"
							title="[@config:company_name@] on Facebook" rel="noopener"><i
								class="fab fa-facebook text-facebook" aria-hidden="true"></i><span
								class="sr-only">Facebook</span></a></li>
					[%/if%]
					[%if [@config:twitter_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:twitter_account_id@]" target="_blank"
							title="[@config:company_name@] on Twitter" rel="noopener"><i
								class="fab fa-twitter text-twitter" aria-hidden="true"></i><span
								class="sr-only">Twitter</span></a></li>
					[%/if%]
					[%if [@config:googleplus_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:googleplus_account_id@]"
							target="_blank" title="[@config:company_name@] on Google Plus" rel="noopener"><i
								class="fab fa-google-plus text-google-plus" aria-hidden="true"></i><span
								class="sr-only">Google
								Plus</span></a></li>
					[%/if%]
					[%if [@config:youtube_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:youtube_account_id@]" target="_blank"
							title="[@config:company_name@] on Youtube" rel="noopener"><i
								class="fab fa-youtube text-youtube" aria-hidden="true"></i><span
								class="sr-only">Youtube</span></a></li>
					[%/if%]
					[%if [@config:instagram_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:instagram_account_id@]"
							target="_blank" title="[@config:company_name@] on Instagram" rel="noopener"><i
								class="fab fa-instagram text-instagram" aria-hidden="true"></i><span
								class="sr-only">Instagram</span></a></li>
					[%/if%]
					[%if [@config:pinterest_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:pinterest_account_id@]"
							target="_blank" title="[@config:company_name@] on Pinterest" rel="noopener"><i
								class="fab fa-pinterest text-pinterest" aria-hidden="true"></i><span
								class="sr-only">Pinterest</span></a></li>
					[%/if%]
					[%if [@config:tumblr_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:tumblr_account_id@]" target="_blank"
							title="[@config:company_name@] on Tumblr" rel="noopener"><i
								class="fab fa-tumblr text-tumblr" aria-hidden="true"></i><span
								class="sr-only">Tumblr</span></a></li>
					[%/if%]
					[%if [@config:linkedin_account_id@]%]
					<li class="nav-item px-1"><a itemprop="sameAs" href="[@config:linkedin_account_id@]" target="_blank"
							title="[@config:company_name@] on Linkedin" rel="noopener"><i
								class="fab fa-linkedin-in text-linkedin" aria-hidden="true"></i><span
								class="sr-only">Linkedin</span></a></li>
					[%/if%]
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<hr aria-hidden="true" />
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-8 d-none d-sm-block">
				[%checkout_pay_icons show_icon:'1' ignore_balance:'1'%]
				[%param header%]
				<ul class="list-inline d-flex flex-wrap" role="contentinfo" aria-label="Accepted payment methods">
					[%/param%]
					[%param *body%]
					<li class="mr-1">
						<div class="payment-icon-container">
							<div class="payment-icon"
								style="background-image: url([@processor_icon_url@]); height: 30px;"><span
									class="sr-only">[@name@]</span></div>
						</div>
					</li>
					[%/param%]
					[%param *footer%]
				</ul>
				[%/param%]
				[%/checkout_pay_icons%]
			</div>
			<div class="col-12 col-md-4 text-md-left">
				<p class="small" data-test-id="address">
					<strong>Copyright &copy; [%format type:'date' format:'#Y'%]today[%/format%]
						[@config:company_name@].</strong>
					[%if [@config:company_abn@]%]<strong>[%if
						[@config:PRIMARY_ABN_LABEL@]%][@config:PRIMARY_ABN_LABEL@][%else%]ABN[%/if%]:</strong>
					[@config:company_abn@]<br>[%/ if%]
					[%if [@config:company_poaddr@]%]<strong>Address:</strong> [@config:company_poaddr@][%/ if%]
				</p>
			</div>
		</div>
	</div>
</footer>
<div class="modal fade" id="termsModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Terms &amp; Conditions</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">[%content_zone id:'terms'/%]</div>
			<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="privacyModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Privacy Policy</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">[%show_content id:'2'%][%param
				*body%][@content_description1@][%/param%][%/show_content%]
			</div>
			<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="partsModal" data-part-number=""><!--here-->
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Parts enquiry</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div>[%content_zone id:'parts_enquiry'/%]</div>
			</div>
			<form action="[%URL nohost:'1' type:'page' id:'[@content_id@]'%][%END URL%]" method="post"><input name="inp-submit" type="hidden" value="y" />
				<h3>Parts Enquiry Form <small>Complete this form to send us your enquiry.</small></h3>
				
				<div class="form-group"><label for="inp-first_name">First Name </label>
				
				<p class="small text-danger"><label for="inp-first_name">Required</label></p>
				<input class="form-control" id="inp-first_name" name="inp-first_name" required="" size="40" type="text" value="[%nohtml%][@inp-first_name@][%end nohtml%]" /> <input class="hidden" name="inp-title" type="text" value="" /></div>
				
				<div class="form-group"><label>Surname</label> <input class="form-control" name="inp-last_name" size="40" type="text" value="[%nohtml%][@inp-last_name@][%end nohtml%]" /></div>
				
				<div class="form-group"><label>Contact Phone Number</label> <input class="form-control" name="inp-phone" size="40" type="text" value="[%nohtml%][@inp-phone@][%end nohtml%]" /></div>
				
				<div class="form-group"><label>Email Address </label>
				
				<p class="small text-danger"><label>Required</label></p>
				<input class="form-control" name="inp-email" required="" size="40" type="email" value="[%nohtml%][@inp-email@][%end nohtml%]" /></div>
				
				<div class="form-group"><label>Preferred Method of Contact</label> <select class="form-control" name="inp-contact_method"><option data="" end="" value="Email">Email</option><option data="" end="" value="Phone">Phone</option> </select></div>
				
				<div class="form-group"><label>Message</label><textarea class="form-control col-xs-12 col-md-6" name="inp-msg" rows="5">[%nohtml%][@inp-msg@][%end nohtml%]</textarea></div>
				
				<div class="form-group">
				<div class="clear">&nbsp;</div>
				
				<p><input name="state" type="hidden" value="email_sent" /></p>
				
				<p><input class="btn btn-lg btn-default" type="submit" data-dismiss="modal" value="Send Email" /></p>
				</div>
				</form>
			<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Required Neto Scripts - DO NOT REMOVE -->
[%if [@CONFIG:Show_Tawkto@] eq '1' %][%load_template file:'footers/plugins/tawk.template.html'/%][%/if%]
[%load_template file:'footers/includes/scripts.template.html'/%]
<script src="[%ntheme_asset%]js/image-map.jquery.js[%/ntheme_asset%]"></script>
<script src="[%ntheme_asset%]js/jquery.maphilight.min.js[%/ntheme_asset%]"></script>
[%load_template file:'footers/plugins/image-map.template.html'/%]
</body>

</html>