<div class="extra-options">
		<!-- PRODUCT OPTIONS -->

		[%list_item_variations id:'[@SKU@]'%]
			[%param header%]
			<input type="hidden" id="_itmspec_sku" value="[%nohtml%][@SKU@][%/nohtml%]">
			<div class="row">
			[%/param%]
		[%param *variation_header_select%]
		<div class="hidden"><strong>Data</strong><br />Parent: [@parent_sku@], Current: [@current_sku@], SKU: [@SKU@]</div>
					<div class="_itmspec_listopt col-xs-12 col-md-12" ref="[@specific_id@]">
						<div class="variation-name">
							<strong>[@specific_name@]</strong>
						</div>
							<div class="specific">
								<input type="hidden" class="_itmspec_val" ref="[@specific_id@]" value="[@selected_id@]">
								<div class="n-wrapper-form-control">
									<span class="_itmspec_optpl" ref="[@specific_id@]">
										<select class="_itmspec_opt form-control" ref="[@specific_id@]">
			[%/param%]
			[%param *variation_body_select%]
											<option value="[@value_id@]" [%if [@selected@]%]selected[%/if%]>[@value_name@]</option>
			[%/param%]
			[%param *variation_footer_select%]
										</select>
									</span>
								</div>
							</div>
					</div>
			[%/param%]
			[%param footer%]
				</div>
			[%/param%]
		[%/list_item_variations%]
		[%if ![@has_variation@]%]
		[%load_template file:"products/includes/child_products.template.html"/%]
		[%/if%]


	[%extra_options id:'[@SKU@]'%]
		[%PARAM *header%]
			<table class="table table-striped table-bordered">
			[%END PARAM%][%PARAM *number_option%]
				<tr>
					<th colspan="2">
						<label>[@name@]</label>
					</th>
				</tr><tr>
					<td>
						<input name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@current_sku@]" value="">
					</td>
				</tr>
			[%END PARAM%][%PARAM *text_option%]
			<tr>
				<th colspan="2">
					<label>[@name@]</label>
				</th>
			</tr><tr>
				<td>
						<textarea name="extra[@count@]" [%if [@length@]%]maxlength="[@length@]"[%/if%]class="form-control" id="productextra[@count@]" rel="[@current_sku@]" cols="20"></textarea>
					</td>
				</tr>
			[%END PARAM%]
			[%PARAM *select_option%]
			<tr>
				<th colspan="2">
					<label>[@name@]</label>
				</th>
			</tr><tr>
				<td>
						<select name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@current_sku@]">
							[@choices@]
						</select>
					</td>
				</tr>
			[%END PARAM%]
			[%PARAM *choices%]
				<option type="text" class="form-control" value="[@option_id@]">[%nohtml%][@text@][%end nohtml%]
				[%DATA id:'price' if:'!=' value:'0'%]
					(+ [%FORMAT type:'currency'%][@price@][%END FORMAT%])
				[%END DATA%]
				</option>
			[%END PARAM%]
			[%PARAM *footer%]
			<input type="hidden" name="extras" value="[@total_options@]"/>
		</table>
		[%END PARAM%]
	[%END extra_options%]

	[%data id:'multiplier_qty' if:'ne' value:'0' %]
	Order In Lots Of <strong>[@multiplier_qty@]</strong>
	[%end data%]
	[%data id:'min_qty' if:'ne' value:'0' %]
	Minimum Order Quantity <strong>[@min_qty@]</strong>
	[%end data%]
	[%data id:'max_qty' if:'ne' value:'0' %]
	Maximum Order Quantity <strong>[@max_qty@]</strong>
	[%end data%]
	<form class="buying-options">
		<input type="hidden" id="model[@rndm@][@current_sku@]" name="model" value="[@model@]">
		<input type="hidden" id="thumb[@rndm@][@current_sku@]" name="thumb" value="[@thumb@]">
		<input type="hidden" id="sku[@rndm@][@current_sku@]" name="sku" value="[@current_sku@]">
		<div class="row btn-stack">
			<div class="hidden">
				<input type="number" min="[@min_qty@]" class="form-control qty input-lg" id="qty[@rndm@][@current_sku@]" name="qty" value="[%data id:'min_qty' if:'ne' value:'0' %][@min_qty@][%end data%][%data id:'min_qty' if:'eq' value:'0' %]1[%end data%]" size="2"/>
			</div>
			<div class="col-xs-12 col-md-12">
				[%IF [@store_quantity@] > 0 %]
				<button type="button" title="Add to Cart" class="addtocart btn btn-success btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]"><i class="fa fa-shopping-cart icon-white"></i> Add to Cart</button>
				[%ELSEIF [@preorder_quantity@] > 0 %]
				<button type="button" title="Add to Cart" class="addtocart btn btn-warning btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]"><i class="fa fa-clock-o icon-white"></i> Pre-Order Now</button>
				[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
					[%if [@misc4@] == y %]
						<a class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#notifymodal"><i class="fa fa-ban"></i> No longer stocked</a>
					[%else%]
						[%if [@arrival_date@]%]
						<button type="button" title="Add to Cart" class="addtocart btn btn-warning btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@current_sku@]"><i class="fa fa-clock-o icon-white"></i> Backorder</button>
						[%else%]
						<button type="button" title="Add to Cart" class="addtocart btn btn-success btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@current_sku@]"><i class="fa fa-shopping-cart icon-white"></i> Add to Cart</button>
						[%/if%]
					[%/if%]
				[%ELSE%]
				<a class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#notifymodal"><i class="fa fa-envelope"></i> Notify Me</a>
				[%END IF%]
			</div>
		</div>
	</form>
	<div class="modal fade notifymodal" id="notifymodal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Notify me when back in stock</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Your Name</label>
						<input placeholder="Jane Smith" name="from_name" id="from_name" type="text" class="form-control" value="[%NOHTML%][@FROM_NAME@][%END NOHTML%]">
					</div>
					<div class="form-group">
						<label>Your Email Address</label>
						<input placeholder="jane.smith@test.com.au" name="from" id="from" type="email" class="form-control" value="[%NOHTML%][@FROM@][%END NOHTML%]">
					</div>
				</div>
				<div class="modal-footer">
					<input class="btn btn-danger" type="button" data-dismiss="modal" value="Cancel">
					<input class="btn btn-success" type="button" data-dismiss="modal" value="Save My Details" onClick="javascript:$.addNotifyBackInStock('[@SKU@]', '');">
				</div>
			</div><!-- /.modal-content -->
		</div>
	</div>
</div>
