<div class="extra-options">
	<hr />
	<div class="card">
		<div class="card-header">
			<h3 class="mb-0">Staff Info</h3>
		</div>
			<div class="card-body">
				<h4>Warehouse Location</h4>
				[%if [@is_kit@]%]
				<span itemprop="productID">[@SKU@] - kit</span>
				[%else%]
				<span itemprop="productID">[@SKU@] - Location: [@pick_zone@]</span>
				[%/if%]
				<div>
					<ul>
						[%item_kitting id:'[@SKU@]' variation_kitting:'0'%]
							[%param *body%]
								<li>[@qty@]x [@sku@] - [@pick_zone@]</li>
							[%/param%]
						[%/item_kitting%]
					</ul>
				</div>
				<div>
					<dl>
					<dt>Quantity available to purchase: </dt><dd>[@store_quantity@]</dd>
					<dt>In stock with supplier: </dt><dd>[@misc10@]</dd>
					<dt>Date available with supplier: </dt><dd>[@misc11@]</dd>
					<dt>Incoming quantity: </dt><dd>[@incoming_quantity@]</dd>
					<dt>Arrival date: </dt><dd>[@arrival_date@]</dd>
					</dl>
				</div>
			</div>
	</div>
</div>
