/*Alan's tweaks - AKR*/
.input-group-footer {
    margin-bottom: 0.5rem;
}
/*Basic styling - AKR*/
p {
	margin-bottom: 15px;
	line-height: 1.8;
}

.caption h3 {
	height: auto;
}

.sort_container .form-group {
	display: flex;
	align-items: center;
}

/*.form-group label {
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}*/

.sort_container .form-group .control-label {
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*colours - AKR*/
a {
	color: #337ab7;
}

.nav a:hover {
	color: #000;
}

.btn {
	border-radius: 0;
}

.btn-primary {
	color: #ebebeb;
	background-color: #333;
	border-color: #252525;
}
.btn-primary:hover {
	background-color: #4d4d4d;
	border-color: #252525;
}

.btn-default {
	color: #ebebeb !important;
	background-color: #333 !important;
	border-color: #252525 !important;
}
.btn-default:hover {
	background-color: #4d4d4d;
	border-color: #252525;
}

.btn-secondary {
  color: #ebebeb !important;
  background-color: #333 !important;
  border-color: #252525 !important;
}

.btn-outline-secondary {
	color: #ebebeb;
	background-color: #333;
	border-color: #252525;
}

.btn-outline-secondary:hover {
		color: #ebebeb;
    background-color: #4d4d4d;
    border-color: #252525;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled).active, .show>.btn-outline-secondary.dropdown-toggle, .show>.dropdown-toggle.btn-default {
	color: #ebebeb;
	background-color: #333;
	border-color: #252525;
}

.btn-secondary:hover {
	background-color: #4d4d4d;
	border-color: #252525;
}


.btn-warning {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #fff;
  border-color: #ccc;
}

.page-item .page-link {
	border-radius: 0;
	background-color: #fff;
	border-color: #fff;
	color:#222;
}

.page-item.active .page-link {
	border-radius: 0;
	background-color: #222;
	border-color: #fff;
	color: #fff;
}

.wrapper-product-title div button {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}

.pagination > li > a, .pagination > li > a:hover {
	color: #333;
}

/*images styling - AKR*/

.wrapper-thumbnail .thumbnail-image {
	max-width: 200px;
	max-height: 200px;
	margin: 0 auto;
}

.thumbnail .caption h3 {
	height: 3em;
}

.thumbnail .product-image {
	width: auto;
}

.thumbnail.card-body img {
	display: block;
	width: auto;
	margin: auto;
}

.row-padded {
	display: flex;
	align-items: center;
}

.header-search, #header-cart {
	margin-top: auto;
}

/*mobile specific styling - AKR*/
@media (max-width: 767px) {
	.wrapper-header .row-padded {
		padding-bottom: 0px;
	}
	.breadcrumb {
		display: none;
	}
	.viewby .btn {
		padding: 3px 6px;
	}
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.3em;
	}
}

/*CUSTOM CSS AKR*/

/*machine options styling - AKR */
.variation-name {
    width: auto;
}

/* Cross-sell side-scroller */
.custom-cross-panel {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
.custom-cross {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	float: none;
	clear: none;
	white-space: normal;
}
.custom-cross-panel .caption .price {
	height: auto;
}
.custom-cross-panel .explain {
	font-size: 70%;
}
.strikethrough {
	text-decoration: line-through;
}
.red {
	color: red;
}

.featured-brands img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    object-position: center;
}

.navbar-small {
	font-size: 10.5px;
	align-items: center;
}
.navbar-small a {
	color: #333333;
}

.navigation-list li a, .navbar-default .navbar-nav > li > a, .navbar-nav li a, .navbar-default .navbar-nav > li > a:hover,.navigation-list li a:hover,.navbar-default .navbar-nav > li:hover > a,.navigation-list li:hover a {
	color: rgba(80, 80, 80, 1) /*{header|link-colour}*/;
	padding: 15px;
}

.navbar-nav {
	flex-wrap: wrap;
	justify-content:center;
}

.navbar-nav > li {
	display: inline-block;
	position: relative;
}

.navbar-nav > li > a {
	padding: 15px;
	display: block;
}

.navbar-toggler {
	font-size: .8rem;
	padding: 0;
	flex: 1 0 auto;
	text-align: center;
}

.wrapper-header .navbar-toggler .badge {
	position: absolute;
	top: -10px;
	right: -6px;
	font-size: 9px; }

.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.dropdown-menu-horizontal {
	top: -11px;
}

.dropdown-hover-horizontal > .dropdown-toggle::after {
		vertical-align: 0;
		margin-left: 0.5em;
    border-top: 0.3em solid transparent;
    border-right: none;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

.dropdown-menu {
	margin: 0;
	z-index: 1031;
}

.badge {
	color: #fff;
}

.badge-warning {
	background-color: #222;
}

.badge-secondary {
	background-color: #777;
}

.carousel-caption {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0,0,0,.6);
}

.carousel-caption span {
	display: none;
}

.logo {
	display: block;
	margin: auto;
}

.nsearchinput-pl.well {
	width: 180%;
	border: solid 1px rgba(0,0,0,.15);
}

@media (min-width: 767px) {
	.nsearchinput-pl.well {
		width: 150%;
	}
}
.d-flex > .header-search {
	padding-right: 0;
}

.map {
    background-size: contain !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
}

.bg-lightgreen {
	background-color: lightgreen;
}